* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v50_129 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_160 {
  width: 375px;
  height: 812px;
  background: url("../images/v50_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_182 {
  width: 128px;
  height: 117px;
  background: url("../images/v50_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 226px;
  overflow: hidden;
}
