* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v50_128 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_159 {
  width: 375px;
  height: 812px;
  background: url("../images/v50_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
