* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_104 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,0.9599999785423279);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_105 {
  width: 382px;
  height: 812px;
  background: url("../images/v6_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  overflow: hidden;
}
.v31_54 {
  width: 382px;
  height: 812px;
  background: url("../images/v31_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  overflow: hidden;
}
.v6_106 {
  width: 86px;
  height: 97px;
  background: url("../images/v6_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 250px;
  overflow: hidden;
}
.v6_112 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 477px;
  left: 219px;
  font-family: Roboto;
  font-weight: Light Italic;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v6_118 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 381px;
  left: 121px;
  font-family: Roboto;
  font-weight: Light Italic;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v6_115 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 458px;
  left: 18px;
  font-family: Roboto;
  font-weight: Light Italic;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v6_117 {
  width: 76px;
  height: 98px;
  background: url("../images/v6_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 134px;
  transform: rotate(-15deg);
  overflow: hidden;
}
.v6_113 {
  width: 126px;
  height: 134px;
  background: url("../images/v6_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 8px;
  overflow: hidden;
}
.v6_181 {
  width: 203px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 91px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_182 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 91px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_184 {
  width: 183px;
  height: 44px;
  background: rgba(70,70,96,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 176px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v6_185 {
  width: 183px;
  height: 44px;
  background: rgba(70,70,96,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 176px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v6_186 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 739px;
  left: 192px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
