* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v59_236 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_237 {
  width: 366px;
  color: rgba(70,70,96,1);
  position: absolute;
  top: 247px;
  left: 5px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v61_238 {
  width: 223px;
  height: 270px;
  background: url("../images/v61_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 100px;
  overflow: hidden;
}
.v61_239 {
  width: 89px;
  height: 58px;
  background: url("../images/v61_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 73px;
  transform: rotate(-16deg);
  overflow: hidden;
}
